// 用于打印的时候样式设置

// textarea 隐藏控件右下角拖拉样式
.print-content {
  textarea {
    resize:none
  }
}

// textarea 边框透明化
.print-content {
   .input-boder-none {
     textarea, textarea.ivu-input {
       border-color: #FFF;
       border-width: 0;
       border-style: none;
     }
   }
 }
