$scale: 1;

$page-width: 595.28px * $scale;  // A4 纸宽度
$page-height: 841.89px * $scale; // A4 纸高度

$font-size_default: 14px * $scale;  // 默认字体大小
$line-Height: 32px * $scale;        // 默认行高
$letter-spacing: 4px * $scale;      // 默认字体间距
$color: #000;


.six-template-content-#{$scale}x {
  position: relative;
  box-sizing: border-box;
  color: $color;
  width: $page-width;
  min-height: $page-height;
  background-color: #FFF;
  font-size: $font-size_default;
  line-height: 1.5;

  // 盖章图层样式
  .stamp-layer{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    background-color: rgba(33,33,33,0.2);
    overflow: hidden;
    .signature-img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100px;
      height: 100px;
      box-shadow:3px 3px 5px #7d7d7d;
      transition: all 0.05s;
    }
  }
  .stamp-layer-mouse {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 101;
    cursor: url("./images/cursor-stamp.png"), pointer;
  }

  .signature-box {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100px * $scale;
    height: 100px * $scale;
    img {
      width: 100px * $scale;
      height: 100px * $scale;
      border-image: none;
      border: none;
    }
  }

  // 一页 A4 纸宽高
  .page {
    position: relative;
    padding: 58px * $scale;
    width: $page-width;
    height: $page-height;
    background-color: #FFF;
    background-size: contain;
    box-shadow: 0 0 1px #dcdee2;
    //overflow: hidden;
  }
  // 一页 A4 宽度 高度自适应
  .page-auto {
    position: relative;
    padding: 58px  * $scale;
    width: $page-width;
    min-height: $page-height;
    overflow: hidden;
  }
  // 带边框内容
  .page-inner-box {
    position: relative;
    padding: 10px * $scale;
    box-shadow: 0 0 1px * $scale #dcdee2;
  }


  //
  .btn-group-list {
    position: absolute;
    top: 0;
    right: 15px;
    z-index: 9;
  }

  // ***********  文本设置
  .main-text {
    line-height: $line-Height;
    letter-spacing: $letter-spacing;
  }

  // 首行文本缩进
  .text-indent-28 {
    text-indent: 28px * $scale;;
  }

  // 位置设置
  .box-bottom {
    position: absolute;
    left: 65px * $scale;
    right: 65px * $scale;
    bottom: 65px * $scale;
  }

  .ivu-input {
    color: $color;
  }
  // input输入框的样式
  .input-text-under-line {
    text-indent: 0;
    border-bottom: 1px * $scale solid #333;
    .ivu-input {
      padding: 0 7px * $scale;
      //border-width: 0 0 1px 0;
      //border-bottom: 1px * $scale solid #333;
      border: 0 solid #FFF;
      border-radius: 0;
      box-shadow: none;
      color: $color;
    }
  }
  .input-text-under-none {
    text-indent: 0;
    .ivu-input {
      padding: 0 7px * $scale;
      border-width: 0;
      border-radius: 0;
      box-shadow: none;
      color: $color;
    }
  }
  .input-textarea-under-none {
    text-indent: 0;
    .ivu-input {
      padding: 0 7px * $scale;
      border-width: 0;
      border-radius: 0;
      color: $color;
    }
  }

  h1 {
    font-size: 26px  * $scale;
    letter-spacing: 2px * $scale;
    text-align: center;
  }
  h2 {
    font-size: 24px  * $scale;
    letter-spacing: 2px * $scale;
    text-align: center;
  }

  // 对齐
  .text-align-left {
    text-align: left;
  }
  .text-align-right {
    text-align: right;
  }
  .text-align-center {
    text-align: center;
  }

}

// **********  公文函头设置 **************
.six-template-content-#{$scale}x {
  .letter-header {
    text-align: center;
    padding-bottom: 1px * $scale;
    border-bottom: 1px * $scale solid rgb(255,51,0);
    .text-inner {
      font-size: 32px * $scale;
      font-weight: 700;
      color: rgb(255,51,0);
      border-bottom: 2px * $scale solid rgb(255,51,0);
    }

  }
}

// ****************************************
// 设置字体 text
.six-template-content-#{$scale}x {
  @for $i from 12 through 30 {
    .text-#{$i} {
      font-size: ($i * $scale) + px;
      input.ivu-input {
        height: (($i + 4) * $scale) + px;
        font-size: ($i * $scale) + px;
      }
      textarea.ivu-input {
        font-size: ($i * $scale) + px;
      }
    }
  }
}

// 设置字体间距
.six-template-content-#{$scale}x {
  @for $i from 1 through 10 {
    .letter-spacing-#{$i} {
      letter-spacing: ($i * $scale) + px;
      .ivu-input {
        letter-spacing: ($i * $scale) + px;
      }
    }
  }
}

// 字体行高
.six-template-content-#{$scale}x {
  @for $i from 12 through 80 {
    .line-height-#{$i} {
      line-height: ($i * $scale) + px;
      input.ivu-input {
        height: ($i * $scale) + px;
        line-height: ($i * $scale) + px;
      }
      textarea.ivu-input {
        line-height: ($i * $scale) + px;
      }
    }
  }
}

// 字体间距
.six-template-content-#{$scale}x {
  @for $i from 1 through 50 {
    .letter-spacing-#{$i} {
      letter-spacing: ($i * $scale) + px;
    }
  }
}

// 左边距 padding-left
.six-template-content-#{$scale}x {
  @for $i from 10 through 200 {
    .p-t-#{$i} {
      padding-top: ($i * $scale) + px;
    }
    .p-l-#{$i} {
      padding-left: ($i * $scale) + px;
    }
    .p-r-#{$i} {
      padding-right: ($i * $scale) + px;
    }
    .p-b-#{$i} {
      padding-bottom: ($i * $scale) + px;
    }
  }
}

// 设置 margin
.six-template-content-#{$scale}x {
  @for $i from 1 through 200 {
    .m-t-#{$i} { margin-top: ($i * $scale) + px ; }
    .m-l-#{$i} { margin-left: ($i * $scale) + px ; }
    .m-r-#{$i} { margin-right: ($i * $scale) + px ; }
    .m-b-#{$i} { margin-bottom: ($i * $scale) + px ; }
  }
}

// 宽度样式  width-10 表示宽度10px
.six-template-content-#{$scale}x {
  @for $i from 1 through 400 {
    .width-#{$i} { width: ($i * $scale) + px ; }
  }
}

// 最小宽度样式  width-10 表示宽度10px
.six-template-content-#{$scale}x {
  @for $i from 1 through 400 {
    .min-width-#{$i} { min-width: ($i * $scale) + px ; }
  }
}

// top
.six-template-content-#{$scale}x {
  @for $i from 1 through 800 {
    .top-#{$i} { top: $i + px ; }
  }
}

// *****************************************
// 字体 font-family
.font-sim-hei {
  font-family: "黑体", "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","\5FAE\8F6F\96C5\9ED1",Arial,sans-serif;
}
.font-sim-sun {
  font-family: "SinSun", "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","\5FAE\8F6F\96C5\9ED1",Arial,sans-serif;
}
.font-fang-song {
  font-family: "FangSong", "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","\5FAE\8F6F\96C5\9ED1",Arial,sans-serif;
}

// ************* 边框 **********
.six-template-content-#{$scale}x {
  @for $i from 1 through 10 {
    .border-#{$i} {
      border: 1px * $scale solid #333;
    }
  }
}



// 表格
.six-template-content-#{$scale}x {
  .custom-table {
    border-width: 1px * $scale;

    .ivu-table-border td, .ivu-table-border th {
      border-right-width: 1px * $scale;
    }
    .ivu-table td, .ivu-table th {
      border-bottom-width: 1px * $scale;
    }

    .ivu-table-cell{
      overflow: initial;
      padding: 0;
    }

    .ivu-table-small th {
      height: 32px * $scale;
    }
    .ivu-table-small td{
      height: 40px * $scale;
    }
  }
}

// 表单格式
.six-template-content-#{$scale}x {
  .ivu-input {
    border-width: 1px * $scale;
  }
}